<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/header :: header}" th:align="center"></div>
<body>
<div sec:authorize="hasAuthority('MANAGER')">
	<div class="container">
		<div class="row">
			<div class="col">
				<a th:href="@{/authenticated/managers/orders?approvalStat=UNDEFINED}"
				   th:text="#{link.viewUndefinedOrders}"></a></div>
			<div class="col">
				<a th:href="@{/authenticated/managers/orders?approvalState=APPROVED}"
				   th:text="#{link.viewApprovedOrders}"></a></div>
			<div class="col">
				<a th:href="@{/authenticated/managers/orders?approvalState=DENIED}"
				   th:text="#{link.viewDeniedOrders}"></a></div>
		</div>
		<div class="row">
			<div class="col">
				<a th:href="@{/authenticated/managers/orders/returned?returned=true}"
				   th:text="#{link.viewReturned}"></a></div>
		</div>
	</div>
	<div class="container">
		<h3 th:text="#{table.managers.title}"></h3>
		<hr>

	</div>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
		<tr>
			<th th:text="#{table.managers.id}"></th>
			<th th:text="#{table.managers.order}"></th>
			<th th:text="#{table.managers.message}"></th>
			<th th:text="#{table.managers.actions}"></th>


		</tr>
		</thead>
		<tbody>
		<tr th:if="${session.currentOrders.isEmpty()}">
			<td colspan="2"> No Orders Available</td>
		</tr>
		<tr th:each="order : ${session.currentOrders}">
			<td><span th:text="${order.getId()}">  </span></td>
			<td>
				<div><label class="text-warning"
							th:text="#{table.orderStatus}"></label><span th:text="${order.approvalState}">  </span>
				</div>
				<div><label class="text-warning"
							th:text="#{userTable.returnStatus}"></label><span th:text="${order.returned} ? ${order.returned}: 'undefined'"></span>
				</div>
				<div><label class="text-info"
							th:text="#{table.carBrand}"></label><span th:text="${order.car.brand}">  </span></div>
				<div><label class="text-info"
							th:text="#{table.carName}"></label><span th:text="${order.car.name}">  </span></div>
				<div><label class="text-info" th:text="#{table.userFName}"></label>
					<span th:text="${order.user.firstName}"></span></div>
				<div><label class="text-info"
							th:text="#{table.userLName}"></label><span th:text="${order.user.lastName}"></span></div>
				<div><label class="text-info"
							th:text="#{table.userEmail}"></label><span th:text="${order.user.email}"></span></div>
				<div><label class="text-info"
							th:text="#{table.totalPrice}"></label><span th:text="${order.totalPrice}"></span></div>
				<div><label class="text-info"
							th:text="#{table.dateRange}"></label><span th:text="${#temporals.format(order.dateRange.dateFrom, session.locale)}"> </span><span
					th:text="${#temporals.format(order.dateRange.dateTo, session.locale)}"> </span></div>
			</td>
			<td>
				<div th:if="${order.approvalState.equals('DENIED')}">
					<span th:text="${order.denyMessage}"></span></div>
			</td>
			<td>
				<div th:if="${!order.approvalState.equals('APPROVED')}">
					<a class="btn btn-sm btn-info"
					   th:href="@{/authenticated/managers/orders/approve(orderId=${order.id})}"
					   th:text="#{order.approve}"></a></div>
				<div th:if="${!order.approvalState.equals('DENIED')}">
					<a class="btn btn-sm btn-warning"
					   th:href="@{/authenticated/managers/orders/deny(orderId=${order.id})}"
					   th:text="#{order.deny}"></a></div>
			</td>
		</tr>
		</tbody>
	</table>
	<div>
	</div>
</div>

</body>
<div th:insert="~{fragments/footer :: footer}" th:align="center"></div>
</html>